.header {
    text-align: center;
    background: #942c2c;
    color: white;
    background: url('../photos/pineForest.jpeg') center/cover;
    position: relative;
    /* background-size: 50% 100%; */
    background-repeat: no-repeat;
    background-position: center;
}

.frontText {
    text-align: center;
    background-position-y: 50%;
    height: 400px;
    line-height: 3em;
    min-height: 200px;
    font-size: 72pt;
    position: relative;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .0);
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 15pt;

}

li a:hover:not(.active) {
font-size: 15pt;
background-color:  rgba(0, 0, 0, 0.376);
}

.active {
background-color: #4CAF50;
}

.topic {
    font-size: 30pt;
}